body{
  margin: 0px;
}
.header {
  margin-top: 0px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;

  }

  .nav {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  .nav:hover {
    color: rgb(170, 168, 168); /* Change color on hover */
  }
  footer {
    background-color: #212629;
    color:#ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%; 
}

.footer-icon {
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.footer-icon:hover {
    transform: scale(1.2);
}
